.minesweeper {
    background-color: #7b7b7b;
    border-top: solid 0.33rem #7b7b7b;
    border-left: solid 0.33rem #7b7b7b;
    border-bottom: solid 0.33rem #FFF;
    border-right: solid 0.33rem #FFF;
    margin-top: 1em;
    flex: 1 1 auto;
    display: flex;
    margin: 0 auto;
    max-width: 80%;

    .tile {
        height: 0;
        width: 100%;
        padding: 0;
        background-color: #bdbdbd;
        border-top:solid 0.15rem #FFF;
        border-left:  solid 0.15rem #FFF;
        border-bottom: solid 0.15rem #7b7b7b;
        border-right: solid 0.15rem #7b7b7b;
        height: 5vw;
        &.flag::before {
            content: "\2691";
            color: red;
            //font-family: "Font Awesome 5 Free";
            font-weight: 900;
            flex: 1 1 auto;
            font-size: 3vw;
        }
    }
        @media (min-width: 800px) {
            .tile {border-top:solid 0.33rem #FFF;
            border-left:  solid 0.33rem #FFF;
            border-bottom: solid 0.33rem #7b7b7b;
            border-right: solid 0.33rem #7b7b7b;}
            .row {
            padding: 2px !important;
        }
        .col {
            margin: 2px !important;
            }
    }
    .holder {
        background-color: #7b7b7b;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.15rem;
        padding-top: 0.15rem;

    }
    .holder {
        @extend .d-flex;
    }
    .tile-column {
        @extend .d-flex;
        @extend .flex-column;
        flex: 1 1;
    }
    .tile-row {
        flex: 0 1 auto;

    }
    .row {
        @extend .no-gutters;
        padding: 1px;
    }
    .col {
        margin: 1px;
        margin-bottom:0
    }
    .tile {
        flex: 1 1 auto;
    }
    
    $adj-colours: blue, green, red, darkblue, beige, beige, beige, beige;
    
    .cleared {
        &.mine { background-color: lightcoral; }
        &::before {
            content: "";
            font-size: 3vw;
        }
        border: solid 1px #7b7b7b;
        text-align: center;
        &.mine::before {
            content: "\1F4A3";
            //font-family: "Font Awesome 5 Free";
            font-weight: 900;
            flex: 1 1 auto;
            font-size: 3vw;
        }
        @for $i from 1 through 8 {
            &.adj-#{$i}::before {
                width: 60px + $i;
                content: "#{$i}";
                color: nth($adj-colours, $i);
                font-size: 3vw;
            }
    
        }
          
            
        }
    
}
