// Put any variable overrides in this file

// Set Font Face to Roboto
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);
$font-family-sans-serif: "Roboto", "Helvetica", 'Helvetica Neue', Helvetica, sans-serif;

$brand-secondary: #bdbdbd;
$brand-primary: #FFF;