{% extends "site_base.html" %}

{% block head_title %}{{ association.name }}{% endblock %}

{% block body_class %}{% if block.super %}{{ block.super }} {% endif %}403{% endblock %}

{% block body_base %}
    <section>
        <div class="container">
            {% if exception %}
                <h2>{{ exception }}</h2>
            {% else %}
                <h2>Forbidden</h2>
            {% endif %}
        </div>
    </section>
{% endblock %}
