{% for message in messages %}
    <div class="alert alert-{{ message.tags }} fade show">
      <button type="button" class="close" data-dismiss="alert">
         <span>&times;</span>
      </button>
      {{ message }}
    </div>
{% endfor %}
