{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}


{% block styles %}
    <link href="{% static "css/app.css" %}" rel="stylesheet"/>
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block site_brand %}

{% endblock %}

{% block topbar_base %}
{% endblock %}

{% block body_base %}
<div id="root"></div>
{% endblock  %}

{% block footer_base %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
